@model Queenwood.Models.InstagramDone

<h2>Instagram Redirect Response</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Error)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Error)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ErrorReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ErrorReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ErrorDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ErrorDescription)
        </dd>
    </dl>
</div>