<section class="header-spacer contentPadding limit-width">

    <div class="clearfix">
        <img src="@Urls.GetHostedContentUrl(Context.Request, "/img/logo/logo.jpg")" width="250" height="250" class="text-image text-image--circle" />

        <div class="hold-float">
            <h1>Who are @Consts.BrandName</h1>

            <p>
                @Consts.BrandName creates high quality, beautifully crafted furniture through regeneration and upcycling.
            </p>

            <p>
                I am passionate about saving furniture and wood from disposal and the best way to do this is to turn these materials into beautiful items that make your home unique.
            </p>
            <p>
                With high standards of finishing, materials that once seemed obsolete have been utilised to their fullest potential.
            </p>

            <h2>Links</h2>
            <ul>
                <li>
                    <a href="@Consts.EtsyUrl">
                        Etsy
                    </a>
                </li>
                <li>
                    <a href="@Consts.EbayUrl">
                        Ebay
                    </a>
                </li>
                <li>
                    <a href="@Consts.InstagramUrl">
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

