<section class="hero js-dynamic-image" style="background-image:url('@Urls.HomeHeaderImage');" data-dynamic-image-src="@Urls.GetHostedContentUrl(Context.Request, "/img/header-images/home-header.jpg")">
    <h1 class="hero__tagline">
        Handcrafted Furniture made from reclaimed and recycled materials
    </h1>
</section>

@*<img class="width-full display-block" src="
                    https://i.etsystatic.com/ishbs/5dfcd3/1661431311/ishbs_1680x224.1661431311_i3tefnjo.jpg?version=1" 
            srcset="https://i.etsystatic.com/ishbs/5dfcd3/1661431311/ishbs_3360x448.1661431311_i3tefnjo.jpg?version=1 3360w,
                    https://i.etsystatic.com/ishbs/5dfcd3/1661431311/ishbs_1680x224.1661431311_i3tefnjo.jpg?version=1 1680w,
                    https://i.etsystatic.com/ishbs/5dfcd3/1661431311/ishbs_1200x160.1661431311_i3tefnjo.jpg?version=1 1200w,
                    https://i.etsystatic.com/ishbs/5dfcd3/1661431311/ishbs_900x120.1661431311_i3tefnjo.jpg?version=1 900w,
                    https://i.etsystatic.com/ishbs/5dfcd3/1661431311/ishbs_640x85.1661431311_i3tefnjo.jpg?version=1 640w,
                    https://i.etsystatic.com/ishbs/5dfcd3/1661431311/ishbs_480x64.1661431311_i3tefnjo.jpg?version=1 480w" sizes="100vw" alt="">*@

@*<div class="hero-spacer"></div>*@

@*<div class="aboveHero">*@
    @{
        var images = new List<ImageLink>();

        images.Add(new ImageLink("https://picsum.photos/g/700/500/?random", 700, 500, "/", "Text Here"));
        images.Add(new ImageLink("https://picsum.photos/500/500/?random", 500, 500, "/", "Text Here"));
        images.Add(new ImageLink("https://picsum.photos/g/600/500/?random", 600, 500, "/", "Text Here"));
        images.Add(new ImageLink("https://picsum.photos/700/500/?random", 700, 500, "/", "Text Here"));
        images.Add(new ImageLink("https://picsum.photos/700/450/?random", 700, 450, "/", "Text Here"));
        images.Add(new ImageLink("https://picsum.photos/g/500/450/?random", 500, 450, "/", "Text Here"));
    }

    <section class="homeOptions contentPadding">
        <div class="row">
            <div class="row__inner">
                @foreach (var il in images)
                {
                    <div class="col col-xs-12 col-md-4">
                        <a href="@il.LinkUrl" class="imageLink" style="padding-bottom:@il.AspectRatioPercentage%">
                            <div class="imageLink__image">
                                <img data-src="@il.Url" class="lazy" />
                            </div>
                            <div class="imgDetails">
                                <p>@il.LinkText</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
@*</div>*@
